@charset "uft-8";
a{
    text-decoration: none;
}
li,ul{
    list-style: none;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
section{
    width: 100%;
    height: 100vh;
}
section article{
    width: 500px;
    margin: 100px auto;
    border: 1px solid;
    box-sizing: border-box;

}

section article svg{
    width: 100%;
}
section article svg path{
    fill: transparent;
    stroke: #444;
    stroke-dasharray: 1717;
    /*이 강아지는 svg는 1717px 의 길이로 그려진다는 뜻입니다*/
    stroke-dashoffset: 1717;
    transition: 3s;
}
section article:hover svg path{
    stroke-dashoffset: 0;
    fill: rgb(110, 109, 114);
}
div{
    position: absolute;
    top: 100px;
    right: 80px;
}
div{
    fill: transparent;
    stroke-dasharray: 0;
   
    /* stroke-dashoffset: 1717; */
    /* transition: 3s; */
}
div svg polygon{
    fill: rgb(93, 194, 101);
}
/*
stroke-dasharray : 선을 대쉬 형태로 만듭니다
값을 부여한 만큼 대쉬의 길이가 늘어납니다

만약 path의 전체길이가 100이라면, 이때 stroke-dasharray가 값이 50이면??
이 그림은 절반만 보이게 됩니다

stroke-dashoffset : svg를 나타낼 지점을 지정하는 속성
따라서 위의 두 값을 같이 하면 보이지 않게 됩니다
*/